@model MvcApplication1.Models.VerificarSaldoModel
@{
  
}
<h2>Verificar Saldo</h2>
<hgroup class="title">

</hgroup>

@using (Html.BeginForm("VerificacionSaldo", "Home", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulario de asociación</legend>
        <p>
            Ingrese los parametros
        </p>
        <ol>
            <li class="name">
                <label for="SelectedUserRoleId">Tipo Servicio</label>
                <select id="Producto" name="Producto">
                    <option value="1">Ahorros</option>
                    <option value="2">Corriente</option>
                </select>
            </li>
             <li class="ValorFactura">
                @Html.LabelFor(m => m.Valor)
                @Html.TextBoxFor(m => m.Valor)
            </li>
        </ol>
        
        <input type="submit" value="Verificar Fondos" />

         @if (Model != null &&  Model.RetornoWS != "")
        { 
            @Html.LabelFor(m => m.RetornoWS)
            @Html.TextAreaFor(m => m.RetornoWS, new { @readonly = true }) 
        }
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}